{
    "plugins": [
        "prettier-plugin-svelte"
    ],
    "overrides": [
        {
            "files": "*.svelte,*.ts,*.js",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}